<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- <div class="dropdown toggle">
        <input id="t1" type="checkbox" checked>
        <label for="t1">Toggle Menu</label>
        <ul>
          <li><a href="#">Item</a></li>
          <li><a href="#">Product</a></li>
          <li><a href="#">Text</a></li>
          <li><a href="#">Page</a></li>
          <li><a href="#">Thing</a></li>
        </ul>
      </div> -->
      <form href ="/courseread">
      <p class = "contentEdit">
        <h2>Please Enter Correctly</h2>
        <br><textarea class="class-text" rows = "1" type="text" name="dep">CSE</textarea>
  <textarea class="class-code" rows = "1" type="text" name="courseNum">100</textarea>
</p>
<input type="submit">
</form>
      <script>
        $(document).click(function(event) {
  if(
    $('.toggle > input').is(':checked') &&
    !$(event.target).parents('.toggle').is('.toggle')
  ) {
    $('.toggle > input').prop('checked', false);
  }
})
      </script>
  </body>
</html>
